body {
    font: 16px 'Open Sans';
    color: #333333;
    margin: 0;
}
h1 {
    margin: 0;
}
h1,
h2 {
    text-align: center;
}
h2{
	font-weight: 600;
}
.hello {
    position: absolute;
    right: 10px;
    top: 10px;
    text-align: right;
}
header {
    height: 400px;
    background: url('http://images.apple.com/support/assets/images/home/2015/us_en_hero_1440.jpg') no-repeat scroll center;
    background-size: 100%;
    position: relative;
}
a {
    text-decoration: none;
    color: #333333;
}
.nav {
    background: transparent -moz-linear-gradient(center top, #FFEA00 0%, #FFD600 100%) repeat scroll 0% 0%;
    width: 150px;
    position: absolute;
    left: 0;
    bottom: 10px;
    padding: 10px;
    font-size: 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}