*{
      -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
  animation: fadein ease-in 2s;
}


@-moz-keyframes FADE{
  0%{ 
  opacity: 0.4;
  }
  100% { 
  opacity: 1;/
  }
}
@-webkit-keyframes FADE{
  0%{ 
  opacity: 0.4;
  }
  100% { 
  opacity: 1;

  }
}


body {
    font: 16px 'Open Sans';
    color: #333333;
    margin: 0;
      -webkit-animation-name:FADE;
  -webkit-animation-duration:1s;
  -webkit-animation-iteration-count:1;
  -moz-animation-name: FADE;
  -moz-animation-duration: 1s;
}
h1 {
    margin: 0;
}
h1,
h2 {
    text-align: center;
}
h2{
	font-weight: 600;
  display: block;
}
.hello {
    position: absolute;
    right: 10px;
    top: 10px;
    text-align: right;
    z-index: 2;
}
header {  
    position: relative;
    margin: 0;
    height: 360px;
    overflow: hidden;
    background:#FFE100;
}

.csslider1{
  z-index:3;
  opacity: 0.3;

}


.header_content *{
  z-index: 4;

}

.episodes{
    position: absolute;
    top:0; 
    color: yellow;
    width: 100%;
    z-index: 3;
    height: 360px;
}

.episodes a{
  font:60px 'Pacifico', cursive;
  color: #1F1002;

}

.episodes a:before{
  content: url('../images/logo.png') ;
  margin-right: 10px;
  vertical-align: middle;
  height: 98px;
  width: 98px;
}


a {
    text-decoration: none;
    color: #333333;
}
.nav {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    list-style: none;
    margin: 0;
}

.nav li a{
    background: #fff;
    display: block;
    padding: 10px;
    font-size: 13px;
    float: left;
    margin-right: 5px;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
     
}

.nav>a:hover{
  background: #FFE100;

}

.profil_nav{
    display: none;
    position:absolute;
    top:70px;
    right:10px;
}

.profil_nav,.profil_nav>li{
    padding: 5px;
    margin: 0;
    list-style: none;
    text-align: left;
    background: #1F1002;
    position: relative;


}

.profil_nav li{
   display: block;
   float: inherit;

}



.profil_nav a{
     color: #ccc;
}

.profil_nav:after {
    bottom: 100%;
    left: 90%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(51, 51, 51, 0);
    border-bottom-color: #1F1002;
    border-width: 5px;
    margin-left: -5px;
}
#profil{
    background: rgba(255, 255, 255, 0.5);
    
    height: 30px;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

 #search{
      border-radius: 2px;
      background-color: rgba(255,255,255,0.5);
      border: none;
      padding: 5px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      position: absolute;
      right: 10px;
      bottom: 10px;
      width:70px;
      text-align: center;
      -webkit-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      transition-duration: 0.5s;
   }

   #search:focus{
      background-color:#fff;
      text-align: left;
       width:150px;
   }

   .pp{
  height: 100px;
  width: 100px;
  overflow: hidden;
    border-radius: 50%;
  display: block;
  margin: 0 auto 30px;
  position: relative;
}
.pp>img{
  height: 100px;
  left: -28%;
  position: absolute;

}
.fa-bars{
  display: none;
}


@media screen and (max-width: 1080px){

  .fa-bars{
    position: absolute;
    top:10px;
    left: 10px;
    font-size: 30px;
  }
.nav{
  display: none;
  height: auto;
  bottom: inherit;
  top:40px;
  left: 10px;
 
}
  .nav,.nav li{
    background: #1F1002;;
    padding: 5px;
    margin: 0;
    list-style: none;
    text-align: left;
    background: #1F1002;
    width: auto;

    
  }

  .nav  li a{ 
    color: #ccc;
    float: inherit;
    background: #1F1002;
    line-height: 10px;
    font: 16px "Open Sans";
     padding: 5px;
  }

  .nav:after {
    bottom: 100%;
    right: 90%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(51, 51, 51, 0);
    border-bottom-color: #1F1002;
    border-width: 5px;
    margin-left: -5px;
}


}

@media screen and (max-width: 647px){

header{
 height: 260px;
}


}

@media screen and (max-width: 466px){

header{
 height: 180px;
}
.episodes{
    position: absolute;
    top:0; 
    color: yellow;
    width: 100%;
    z-index: 3;
    height: 180px;
}

.episodes h1{
   line-height: 180px;

}

.episodes a{
  font:40px 'Pacifico', cursive;
  color: #1F1002;
  background: transparent url("../images/logo.png") no-repeat scroll 45px 15px / 40px 40px;
  width: 320px;
  vertical-align: middle;
  margin: 0 auto;
  display: inline-block;
  text-align: center;

}

.episodes a:before{
  content: inherit;
    margin-right: inherit;
  vertical-align: inherit;
  height: inherit;
  width: inherit;


}

#profil{
  display: none;
}

.hello {

    right: 0px;
    top: 0px;

}

   .pp{
  margin: 0 auto 10px;

}

.profil_nav{
    display: none;
    margin-top: 71px;
    margin-right: 10px;
}

table {
   margin:30px 10px 0px 10px; 
  
}

td,.creatorId,.date{
    font-size: 12px;
}








}

